@model sapra.ViewModels.LoginViewModel
@{
	ViewData["Title"] = "Inicio de Sesión";
	
}
<div class="text-center">
	<br><br><br><br>
	<form method="post" enctype="multipart/form-data" asp-action="Login" asp-controller="Authorization" id="formLogin" class="col col-lg-5 col-md-10 col-sm-10 mx-auto bg-white rounded text-center">
		<br><br><h5 class="text-secondary">@ViewBag.MainTitle</h5>
		<br><h4>@ViewBag.Subtitle</h4>
		<div class="@Model.Response.GetResponseTypeStyle() rounded p-3 m-3 h6 alert-dismissible">
			@Model.Response.Text
		</div>
		<br>
		<div class="form-group mx-auto" style="min-width: 85%; max-width: 85%;">
			<input id="Email" name="Email" placeholder="Correo Electrónico" class="form-control form-control-lg" type="text" value="@Model.Email"><br>
			<input id="Password" name="Password" placeholder="Contraseña" class="form-control form-control-lg" type="password"><br>
		</div>
		<button class="btn btn-dark text-uppercase" type="submit" style="min-width: 85%">Iniciar Sesión</button><br><br><br>
	</form>
</div>
<script>
	$(document).ready(function () {
		$('#navigation').hide();
		$('#footer').hide();
		$('#body').addClass('bg-color1');
	});

	$(function() {
		$("#formLogin").validate({
			rules: {
				Email: {
					email: true,
					required: true,
					minlength: 6,
					maxlength: 64
				},
				Password: {
					required: true,
					minlength: 4,
					maxlength: 64
				},
			},
		messages: {
			Email: "Debe tener entre 4 y 64 letras y ser un correo válido.",
			Password: "Debe tener entre 4 y 64 letras.",
		},
		submitHandler: function(form) {
			form.submit();
		}
	  });
	});
</script>