@model MapLayer
@if(Model.MapLayerId == 0) 
{
	<h4>Agregar una capa Nueva</h4><br>
}
else 
{
	<h4>Editar un Capa</h4><br>
}
<form id="formLayerEdit" method="post" asp-action="SubmitLayerUpdate" asp-controller="Administrator" class="form-group">
	<input type="hidden" asp-for="MapLayerId" value="@Model.MapLayerId">
	<label>Nombre de la capa:</label><br>
	<input asp-for="Name" type="text" class="form-control border-dark mw-450" value="@Model.Name"><br>
	<label>Dirección URL de la capa:</label><br>
	<input asp-for="URL" type="text" class="form-control border-dark mw-450" value="@Model.URL"><br>
	@if(Model.Name != sapra.Controllers.SystemController.LoadSettings().BaseLayer)
	{
		<label>Visibilidad de la capa en el Mapa ArcGIS:</label><br>
		<select asp-for="Visible" class="form-control border-dark mw-450 fieldClass">
			<option value="">Seleccionar</option>
			<option value="0">Visible</option>
			<option value="1">Oculto</option>
		</select>
	}
	<br>
	<div id="FieldTemplate" style="display:none;">
		<div class="FieldForm pb-4 w-100 row">
			<div class="col col-xl-3 col-lg-12 col-md-12 col-sm-12 col-12 pb-2">
				<input id="MapLayerFields_^_Alias" name="MapLayerFields[^].Alias" class="form-control w-100 border-dark d-inline-block fieldClass" type="text">
			</div>
			<div class="col col-xl-3 col-lg-12 col-md-12 col-sm-12 col-12 pb-2">
				<input id="MapLayerFields_^_Name" name="MapLayerFields[^].Name" class="form-control w-100 border-dark d-inline-block fieldClass" type="text">
			</div>
			<div class="col col-xl-3 col-lg-12 col-md-12 col-sm-12 col-12 pb-2">
				<select id="MapLayerFields_^_Type" name="MapLayerFields[^].Type" class="form-control border-dark fieldClass">
					<option value="">Seleccionar</option>
					<option value="0">Entero</option>
					<option value="1">Texto</option>
					<option value="2">Flotante</option>
				</select>
			</div>
			<div class="col col-xl-3 col-lg-12 col-md-12 col-sm-12 col-12 pb-2">
				<button class="btn btn-danger d-inline-block mb-1 font-weight-bolder w-100" type="button" onclick="RemoveField(this)">x</button>
			</div>
		</div>
	</div>
	@if(Model.Name == sapra.Controllers.SystemController.LoadSettings().BaseLayer)
	{
		<div class="w-100">
			<div class="FieldFormBase mb-4 w-100 row">

				<div class="col col-xl-3 col-lg-12 col-md-12 col-sm-12 col-12 pb-2">
					<label>Alias:</label><br>
					<input id="MapLayerFields_0_Alias" name="MapLayerFields[0].Alias" class="form-control w-100 border-dark d-inline-block fieldClass" type="text">
				</div>

				<div class="col col-xl-3 col-lg-12 col-md-12 col-sm-12 col-12 pb-2">
					<label>Nombre en ArcGIS:</label><br>
					<input id="MapLayerFields_0_Name" name="MapLayerFields[0].Name" class="form-control w-100 border-dark d-inline-block fieldClass" type="text">
				</div>

				<div class="col col-xl-3 col-lg-12 col-md-12 col-sm-12 col-12 pb-2">
				
					<label>Tipo de Campo:</label><br>
					<select id="MapLayerFields_0_Type" name="MapLayerFields[0].Type" class="form-control border-dark fieldClass">
						<option value="">Seleccionar</option>
						<option value="0">Entero</option>
						<option value="1">Texto</option>
						<option value="2">Flotante</option>
					</select>
				</div>

				<div class="col col-xl-3 col-lg-12 col-md-12 col-sm-12 col-12 pb-2">
					<label>Agregar más:</label><br>
					<button class="btn btn-primary bg-color1 mb-1 font-weight-bolder btn-add w-100" type="button" onclick="AddField()">+</button>
				</div>

			</div>

			<div id="MapLayerFieldsList">
			</div>
		</div>
	}
	

	<button type="button" onclick="setTab('Zone');" class="btn btn-primary bg-color1 rounded-0">
		<i class="btn-has-text fa fa-step-backward"></i>
		Abortar
	</button>

	<button type="submit" class="btn btn-primary bg-color1 rounded-0">
		<i class="btn-has-text fa fa-save"></i>
		@{ var text = (Model.MapLayerId == 0) ? "Insertar Capa" : "Guardar Cambios"; }
		@text
	</button>

</form>
<script>
	$(function() {
		$("#formLayerEdit").validate({
			rules: {
				Name: {
					required: true,
					minlength: 8,
					maxlength: 32
				},
				URL: {
					required: true,
					minlength: 1,
					maxlength: 64
				},
				Visible: {
					required: true
				}
			},
		messages: {
			Name: "Debe tener entre 8 y 32 letras.",
			URL: "Debe ser una URL válida.",
			Visible: "Requerido."
		},
		submitHandler: function(form) {
			form.submit();
		}
	  });
	});

	var FieldsCount = 1;
	var _MapLayerId = @Model.MapLayerId;

	var FieldsMax = 32;
	var BtnAddHtml = $(".btn-add-ref").html();

	var _FieldsAlias = @Html.Raw(ViewBag.MapLayerFieldsAlias);
	var _FieldsNames = @Html.Raw(ViewBag.MapLayerFieldsNames);
	var _FieldsTypes = @Html.Raw(ViewBag.MapLayerFieldsTypes);

	function UpdateFieldsUI() {

		if (FieldsCount >= FieldsMax)
		{
			$(".btn-add").text("Máximo " + FieldsMax + " campos");
		}
		else
		{
			$(".btn-add").text("+");
		}

		$('.fieldClass').each(function() {
			$(this).rules('add', {
				required: true,
				messages: {
					required: "Este campo es obligatorio."
				}
			})
		});
	}

	function AddField()
	{
		if (FieldsCount < FieldsMax)
		{
			var html = $('#FieldTemplate').html();
			var appendable = html.replace(/\^/g, FieldsCount);
			$('#MapLayerFieldsList').append(appendable);
			FieldsCount = FieldsCount + 1;
			UpdateFieldsUI();
		}
	}

	function RemoveField(obj) {
		$(obj).closest('.FieldForm').remove();
		FieldsCount = FieldsCount - 1;
		UpdateFieldsUI();
	}

	$(document).ready(function () {

		$('.applyBtn').html("Aplicar");
		$('.cancelBtn').html("Cancelar");
		$('#Visible').val('@Model.Visible');

		for (i = 0; i < @Model.MapLayerFields.Count; i++)
		{
			if (i > 0) { AddField(); }
			$('#MapLayerFields_' + i + '_Alias').val(_FieldsAlias[i]);
			$('#MapLayerFields_' + i + '_Name').val(_FieldsNames[i]);
			$('#MapLayerFields_' + i + '_Type').val(_FieldsTypes[i]);
		}

	});
</script>